<!DOCTYPE html>
<html>
<head>
    <title>ReadShare</title>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="content">
            <nav>
                <div class="logo">
                    <a href="/">ReadShare</a>
                </div>
                <div class="links">
                    <a href="/">Znajdz książkę</a>
                    <a href="/trade">Wymiany</a>
                    <a href="/">Biblioteka</a>
                </div>
                <div class="icons">
                    {{#if userName}}
                        <a href="/">+</a>
                        <a href="/">K</a>
                        <a href="/offerted">P</a>
                        <a href="/users/logout">W</a>
                    {{else}}
                        <a href="/login">Z</a>
                    {{/if}}
                </div>
            </nav>
            {{{body}}}
        </div>
        <footer>
            Copyright © 2023 ReadShare. All Rights Reserved.
        </footer>
    </body>
    </html>
