<!DOCTYPE html>
<html>
<head>
    <title>Moja aplikacja</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<nav>
    <a href="/">Strona główna</a>
    <a href="/login">Login</a>
    <a href="/books">ksiazki</a>
    <a href="/trade">wymiana</a>
    <a href="/users/logout">Wyloguj</a>
    <a href="/allusers">Użytkownicy</a>
</nav>
<style>
    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #ccc;
    }
    nav a{
        text-decoration: none;
        color: #000;
        padding: 10px 20px;
    }
    nav a:hover{
        color: #fff;
        background-color: #000;
    }
</style>
<body>
    {{{body}}}
</body>
</html>