<!DOCTYPE html>
<html>
<head>
    <title>Moja aplikacja</title>
</head>
<nav>
    <a href="/">home</a>
    <a href="/login">Login</a>
    <a href="/books">ksiazki</a>
    <a href="/trade">wymiana</a>
    <a href="/users/logout">Wyloguj</a>
</nav>
<body>
    {{{body}}}
</body>
</html>