<!DOCTYPE html>
<html>
<head>
    <title>ReadShare</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="content">
            <nav>
                <div class="logo">
                    <a href="/">ReadShare</a>
                </div>
                <div class="links">
                    <a href="/">Znajdz książkę</a>
                    <a href="/ratings">Oceń książkę</a>
                    <a href="/offerted">Oferty</a>
                    <a href="/mybooks">Moje książki</a>
                </div>
                <div class="icons">
                    {{#if userName}}
                        <a href="/addbook">+</a>
                        <a href="/">K</a>
                        
                        <a href="/users/logout">W</a>
                    {{else}}
                        <a href="/login">Z</a>
                    {{/if}}
                </div>
            </nav>
            <div class="hero-image">
                <span class="hero-image__text"></span>
                <span class="hero-image__line"></span>
                <span class="hero-image__lamp1"></span>
            </div>
            {{{body}}}
        </div>
        <footer>
            Copyright © 2023 ReadShare. All Rights Reserved.
        </footer>
    </body>
    </html>
