*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ccc;
}
nav a{
    text-decoration: none;
    color: #000;
    padding: 10px 20px;
}
nav a:hover{
    color: #fff;
    background-color: #000;
}

    div.form{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    }
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}
input{
    border-radius: 5px;
    border: 1px solid black;
}
input[type="text"]{
    padding: 20px 5px;
    height: 30px;
}
input[type="submit"]{
    background-color: #000;
    height: 50px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.message{
    color: seagreen;
    font-size: 20px;
    font-weight: bold;
}
img{
    max-width: 200px;
}

.books{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

.error{
    color: red;
    font-size: 14px;
    margin: 0;
    padding: 0;
    font-weight: bold;
}