<h1>Strona z logowaniem</h1>

<div class="form">
    <form action="/users/login" method="post">
        <input type="text" name="mail" placeholder="Podaj maila">
        <input type="text" name="passwd" placeholder="Podaj haslo">
        <input type="submit" value="Zaloguj się">
    </form>
    <p>Jeśli nie masz konta użytkownika <a href="register">Zarejestruj się</a></p>
</div>