<h1>Moje książki</h1>

   <div class="books">
      {{#each books}}
         <div class="book">
            <p>Tytuł {{this.title}}</p>
            <p>Autor {{this.author}}</p>
            <p>Opis {{this.description}}</p>
            <div>
               Zdjecie <img src="/uploads/{{this.img}}" style="max-width: 100px;">
            </div>
            <a href="#">Edytuj</a>
            <a href="#">Usuń książkę</a>
         </div>
      {{/each}}
   </div>