<h1>Rejestracja</h1>

<div class="form">
    <form action="/users" method="post">
        <input type="text" name="mail" placeholder="Podaj mail">
        <input type="text" name="passwd" placeholder="Podaj haslo">
        <input type="submit" value="Dodaj nowego użytkownika">
    </form>
</div>